[DEFAULT]

[paths.hf_home]
# To use the default HF home path, comment the following line
val = .cache/huggingface
mode = relative

[paths.data]
val = data
mode = relative

[paths.output]
val = output
mode = relative

[paths.logs]
val = logs
mode = relative

[internet]
offline = false
